{% extends 'innerBase.html.twig' %}

{% block title %}New Account{% endblock %}

{% block body %}
    <div class="col-md-6">
        <div class="page-title">
            <div class="title_left">
                <h3>Personal</h3>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <table class="table">
            <tr>
                <th>Firstname:</th>
                <td>{{ user.firstName }}</td>
            </tr>
            <tr>
                <th>Lastname:</th>
                <td>{{ user.lastName }}</td>
            </tr>
            <tr>
                <th>Email:</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td><a href="#">Change password</a></td>
            </tr>
        </table>
    </div>

    <div class="col-md-6">
        <div class="page-title">
            <div class="title_left">
                <h3>Company</h3>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        {% if user.company %}
            <table class="table">
                <tr>
                    <th>Name:</th>
                    <td>{{ user.company.name }}</td>
                </tr>
            </table>
            <a href="{{ url('account-company') }}">Edit</a>
        {% else %}
            There is no company linked to your account.
            <a href="{{ url('account-company') }}">Click here</a> to add one
        {% endif %}
    </div>
{% endblock %}