<nav class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{ path('index') }}">
        Shift Manager
        {% if app.user and app.user.company %}
             - {{ app.user.company.name }}
        {% endif %}
    </a>

    {% if app.user %}
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ app.user.firstName }} {{ app.user.lastName }}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{{ url('account-details') }}">Account Details</a>
                    <a class="dropdown-item" href="{{ url('logout') }}">Sign out</a>
                </div>
            </li>
        </ul>
    {% endif %}
</nav>